################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryTestApplication/DesignTimeBuild
/.vs/LibraryTestApplication/FileContentIndex
*.v2
/.vs/ProjectEvaluation
